.git export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.luarc.json export-ignore
CLAUDE.md export-ignore
README.md export-ignore
CONTRIBUTING.md export-ignore
LICENSE export-ignore
/screenshots export-ignore
/dataS export-ignore
/.claude export-ignore
/.github export-ignore
